<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="open_manipulator_sara_ros2_control" params="prefix use_sim:=^|true use_fake_hardware:=^|false fake_sensor_commands:=^|false">

    <ros2_control name="OpenManipulatorSaraSystem" type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>fake_components/GenericSystem</plugin>
            <param name="fake_sensor_commands">${fake_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}joint1">
        <command_interface name="position">
          <param name="min">${-pi*0.9}</param>
          <param name="max">${pi*0.9}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}joint2">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.5}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}joint3">
        <command_interface name="position">
          <param name="min">${-pi*0.3}</param>
          <param name="max">${pi*0.44}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}joint4">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.65}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}joint5">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.65}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}joint6">
        <command_interface name="position">
          <param name="min">${-pi*0.57}</param>
          <param name="max">${pi*0.65}</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}gripper_left_joint">
        <command_interface name="position">
          <param name="min">-0.010</param>
          <param name="max">0.019</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}gripper_right_joint">
        <param name="mimic">gripper_left_joint</param>
        <param name="multiplier">1</param>
        <command_interface name="position">
          <param name="min">-0.010</param>
          <param name="max">0.019</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>